.dark-mode-on {
  color: #f5f6fa !important;
  background: #1e1e2f !important;
}

.dark-mode-on div[class~="card"] {
  color: #f5f6fa;
  background: #27293d !important;
}

.dark-mode-on table {
  color: #f5f6fa;
}

.dark-mode-on td {
  color: #f5f6fa !important;
}

.dark-mode-on table th {
  color: #f5f6fa !important;
}

.dark-mode-on table tr:hover {
  background-color: #656782;
}

.dark-mode-on table tr:hover th {
  color: #4cbebc;
}

.dark-mode-on table tr:hover td {
  color: #4cbebc;
}

.dark-mode-on #sidebar {
  background-color: #27293d;
}

.dark-mode-on a[class~="border-bottom"] {
  border-bottom: 1px solid #005693 !important;
}

.dark-mode-on a[class~="nav-link"] {
  color: #fff;
}

.dark-mode-on #sidebar div[class~="border-top"] {
  border-top: 1px solid #1782b8 !important;
}

.dark-mode-on input[class~="form-control-plaintext"] {
  color: #f5f6fa !important;
}


