// Colors

// red colors
$red-200: #e6312e;

// blue colors
$blue: #005693;
$blue-900: #0056934a;
$denim: #1782b8;

// Theme-colors
$primary: $blue;
$success: $blue;
$info: $blue;
$warning: $blue;
$danger: $red-200;
$border-radius: 0.6rem;

// Spacer
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * 0.25,
        2: $spacer * 0.5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 6,
);

// Utilities
$utilities: (
        "min-viewport-height":
        (
                property: min-height,
                class: min-vh,
                values: (
                        100: 100vh,
                        90: 90vh
                )
        ),
);

// Font
$font-family-sans-serif: "Montserrat", sans-serif !important;
