@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,300&display=swap");

body {
  color: #344767;
  background: #f5f6fa;
}

main > .container {
  padding: 60px 15px 0;
}


h1 h2 h3 h4 h5 h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #1ca995f2;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .card {
    margin: 63px 0 0 !important
  }
}

@media only screen and (min-width: 800px) {
  .mg-6 {
    margin-left: 6rem !important;
  }
}

.invalid {
  background-color: #E6312E;
  border-radius: 22px;
  color: #f5f6fa;
  font-size: small;
}


$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);