@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,300&display=swap');

$crimson: #E6312E;
$ecstasy: #F67524;
$sun: #F8B418;
$turbo: #FEE600;
$atlantis: #99C931;
$apple: #64AD34;
$green-haze: #00944E;
$blue: #005693;
$denim: #1782B8;

$primary: $blue;
$success: $apple;
$info: $denim;
$warning: $turbo;
$danger: $crimson;

$border-radius: .6rem;

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 6,
);

$utilities: (
        "min-viewport-height": (
                property: min-height,
                class: min-vh,
                values: (
                        100: 100vh,
                        90: 90vh
                )
        ),
);

$font-family-sans-serif: 'Montserrat', sans-serif !important;

